html {
    scroll-behavior: smooth;
  }

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 95%;
    margin: auto;
}

/**
    navigation
*/

#navigation {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
}

#navigation-button {
    position: absolute;
    right: 5vw;
    top: 3.5vh;
    cursor: pointer;
}

#navigation-button .strip {
    height: 4px;
    width: 30px;
    background-color: #ffd05a;
    display: block;
    margin-top: 4px;
}

#navigation-section {
    text-align: center;
    background: #40596b;
    height: 0vh;
    overflow: hidden;
    padding-top: 12vh;
    transition: all .3s ease-in-out;
}

#navigation-section ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    padding-top: 3vh;
}

#navigation-section ul li {
    padding-bottom: 1.4rem;
    font-size: 1.1rem;
}

#navigation-section ul li a {
    color: #ffd05a;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#navigation-section ul li a:hover {
    color: #fff;
}

/** 
    Jumbotron
*/

#jumbotron {
    text-align: center;
    padding-top: 12vh;
    background: #55c0ec;
    height: 60vh;
}

#jumbotron__title {
    font-size: 3.5rem;
    transform: scale(1, 1.4);
    font-weight: 400;
    color: rgba(0,0,0,.6);
    opacity: 0;
    transform: translateY(30px);
    transition: all .7s ease-in;
}

#jumbotron__title span {
    font-weight: 700;
}

#jumbotron__note {
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    opacity: 0;
    transform: translateY(30px);
    transition: all .7s ease-in;
}

#jumbotron .slack-link {
    opacity: 0;
    transform: translateY(30px);
    transition: all .7s ease-in;
}

.slack-link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: block;
    background: #fff;
    display: flex;
    height: 11vh;
    border-radius: 5px;
    justify-content: center;
    color: rgba(0,0,0,.6);
    margin-top: 6vh;
    transition: all .3s ease-in;
}

.slack-link img {
    width: 7vw;
    transition: all .3s ease-in;
}

#jumbotron .slack-link:hover {
    transform: scale(1.006);
    background: rgb(250, 252, 250);
}

#jumbotron .slack-link:hover img {
    transform: scale(1.3) rotate(18deg);
}

.slack-link span {
    padding-top: 4vh;
    padding-left: 7vw;
    transform: scale(1.2,1.5);
}

/*
    Product Explanation
*/

#product-explanation {
    margin-top: 8vh;
    text-align: left;
}

.product-explanation__title {
    font-size: 1.7rem;
    font-weight: 400;
    transform: scale(1.1,1.5);
    text-align: center;
    position: relative;
}

.product-explanation__title::after {
    content: "";
    position: absolute;
    width: 170px;
    height: 3px;
    background: rgb(96, 203, 230);
    left: 2.5em;
    top: 6vh;
    margin: auto;
}

.product-explanation__title span {
    font-weight: 700;
}

#product-explanation p {
    margin-top: 8vh;
    line-height: 4vh;
}

#product-explanation p span {
    font-style: italic;
}

#product-explanation p:nth-of-type(3) {
    margin-bottom: 5vh;
}

/**
    features
*/

#features {
    background: #90ddaa;
    height: 260vh;
}


.features__title {
    font-size: 1.7rem;
    font-weight: 400;
    transform: scale(1.1,1.5);
    text-align: center;
    position: relative;
    margin-top: 5vh;
    padding-top: 5vh;
}

.features__card {
    background-color: #40596b;
    padding-top: 7vh;
    margin-bottom: 10vh;
    position: relative;
}

.features__card:nth-of-type(1) {
    margin-top: 10vh;
}

.features__card img {
    width: 70%;
    display: block;
    margin: auto;
}

.features__card p {
    background-color: #fff;
    height: 16vh;
    margin-top: 7vh;
    padding-top: 4vh;
    text-align: center;
    line-height: 4vh;
    font-size: 1rem;
    padding: 2rem;
}

.features__card p span {
    color: rgb(197, 56, 56);
    background-color: rgb(250, 245, 245);
}

.features__card:nth-of-type(1) p a {
    color: blue;
}

/**
    add to Slack
*/

.add-to-slack__title {
    font-size: 1.7rem;
    font-weight: 400;
    transform: scale(1.1,1.5);
    text-align: center;
    position: relative;
    padding-top: 5vh;
    width: 70%;
    margin: auto;
    padding: 3rem 0;
}

.add-to-slack__title span {
    font-weight: 700;
}

#add-to-slack p {
    line-height: 5vh;
    text-align: center;
}

#add-to-slack .slack-link {
    background: #40596b;
    color: #fff;
    transition: all .3s ease-in;
}

#add-to-slack .slack-link img {
    transition: all .3s ease-in;
}

#add-to-slack .slack-link:hover {
    transform: scale(.97);
    background: rgb(61, 60, 60);
}

#add-to-slack .slack-link:hover img {
    transform: scale(1.3) rotate(20deg)
}

/**
    footer
*/

#footer {
    background:#40596b;
    font-size: .7rem;
    height: 18vh;
    text-align: center;
    color: #fff;
    padding-top: 4vh;
}

#footer p {
    margin-bottom: 0;
    line-height: 1.3rem;
}

#footer a {
    color: rgb(96, 203, 230);
}

#to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 15%;
    background: yellow;
    padding: 5px;
    border-radius: 7px;
}



@media only screen and (min-width: 568px){
    .container {
        width: 50%;
    }

    /**
        Navigation
    */

    #navigation-button .strip {
        width: 5vw;
    }

    /**
        Jumbotron
    */

    .slack-link span {
        padding-top: 4vh;
        padding-left: 4vw;
        transform: scale(1.3,1.6);
    }

    /**
        Product-explanation
    */

    .product-explanation__wrapper {
        width: 80%;
    }

    .product-explanation__title::after {
        left: 30%;
    }

    /**
        Features
    */

    .features__container {
        width: 80%;
    }

    #features {
        height: 310vh;
    }

    #add-to-slack .container,
    #footer .container {
        width: 80%;
    }

    #to-top {
        width: 8%;
    }
}

@media only screen and (min-width: 768px){
    .container {
        width: 80%;
    }

    /**
        Navigation
    */

    
    #navigation-section {
        padding-top: 0;
        height: 8vh !important;
    }

    #navigation-section ul {
        display: flex;
        width: 70%;
        margin: auto;
        justify-content: space-between;
    }

    #navigation-section ul li a {
        font-size: 1.2rem;
    }

    #navigation-button {
        display: none;
    }

    /**
       Jumbotron
    */


    #jumbotron {
        padding-top: 20vh;
    }

    .slack-link span {
        padding-top: 4.5vh;
    }

    /**
        Product-explanation
    */


    .product-explanation__wrapper {
        width: 90%;
    }

    .product-explanation__wrapper div {
        display: flex;
        justify-content: space-between;
    }

    .product-explanation__wrapper div p {
        width: 47%;
    }

    .product-explanation__title::after {
        left: 37%;
        top: 5vh;
    }

    /**
       Features
    */


    #features {
        height: 170vh;
    }

    .features__container {
        width: 90%;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .features__card {
        width: 47%;
        height: 30em;
    }

    .features__card:nth-of-type(2) {
        margin-top: 10vh;
    }

    .features__card:nth-of-type(3) {
        width: 100%;
    }

    .features__card:nth-of-type(3) img {
        width: 40%;
    }

    /**
       Footer
    */


    #footer {
        height: 10vh;
    }
}

@media only screen and (min-width: 1024px){
    /**
        Navigation
    */
    #navigation-section {
        height: 10vh !important;
    }

    #navigation-section ul {
        width: 60%;
    }

    #navigation-section ul li a {
        font-size: 1.6rem;
    }

    .slack-link {
        margin: auto;
        width: 35%;
        padding: 0;
    }

    .slack-link img {
        width: 4vw;
    }

    .slack-link span{ 
        transform: scale(1,1.3);
    }

    /**
        Jumbotron
    */

    #jumbotron__title {
        font-size: 4.5rem;
    }

    #jumbotron__note {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    /**
        Product-explanation
    */

    .product-explanation__wrapper p {
        font-size: 1.2rem;
    }

    .product-explanation__title::after {
        left: 41%;
        top: 5vh;
    }

    /**
        Features
    */

    #features {
        height: 200vh;
    }

    .features__title {
        font-size: 3rem;
    }

    .features__card p {
        font-size: 1.4rem;
    }

    .features__card:nth-of-type(3) {
        margin-top: 10vh;
    }

    /**
        Add-to-slack
    */

    .add-to-slack__title {
        font-size: 2.5rem;
    }

    #add-to-slack p{
        font-size: 1.3rem;
    }

    /**
        Footer
    */

    #footer {
        font-size: .9rem;
    }
}

@media only screen and (min-width: 1200px){
    /**
       Navigation
    */

    #navigation-section ul {
        width: 40%;
    }
    
    #navigation-section ul li a {
        font-size: 1.2rem;
    }

    /**
        Jumbotron
    */

    #jumbotron__title {
        font-size: 4.9rem;
    }

    #jumbotron__note {
        font-size: 2rem;
        line-height: 3rem;
    }

    .slack-link {
        height: 13vh;
    }
    
    .slack-link span {
        font-size: 1.7rem;
        padding-top: 4.3vh;
    }

    /**
       Product-explanation
    */

    .product-explanation__wrapper p {
        font-size: 1.4rem;
    }

    .product-explanation__title::after {
        left: 43%;
        top: 5.5vh;
    }

    /**
        Features
    */

    .features__card {
        width: 30% !important;
        height: 30em;
    }
    .features__card:nth-of-type(3) img {
        width: 70%;
    }

    .features__card p {
        font-size: 1.1rem;
    }

    #features {
        height: 110vh;
    }

    /**
        Footer
    */

    #to-top {
        width: 5%;
    }
}

