body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 95%;
    margin: auto;
}

/** 
    navigation menu, including:
    1. Navigation responsive button
    2. Navigation's contents
*/

#navigation {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
}

#navigation-button {
    position: absolute;
    right: 5vw;
    top: 3.5vh;
    cursor: pointer;
}

#navigation-button .strip {
    height: 4px;
    width: 30px;
    background-color: #ffd05a;
    display: block;
    margin-top: 4px;
}

#navigation-section {
    text-align: center;
    background: #40596b;
    height: 0vh;
    overflow: hidden;
    padding-top: 12vh;
    transition: all .3s ease-in-out;
}

#navigation-section ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    padding-top: 3vh;
}

#navigation-section ul li {
    padding-bottom: 1.4rem;
    font-size: 1.1rem;
}

#navigation-section ul li a {
    color: #ffd05a;
    text-decoration: none;
    cursor: pointer;
}

/** 
    Jumbotron
*/

#jumbotron {
    text-align: center;
    padding-top: 12vh;
    background: #55c0ec;
    height: 60vh;
}

#jumbotron__title {
    font-size: 3.5rem;
    transform: scale(1, 1.4);
    font-weight: 400;
    color: rgba(0,0,0,.6);
}

#jumbotron__title span {
    font-weight: 700;
}

#jumbotron__note {
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
}

#jumbotron__link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: block;
    background: #fff;
    display: flex;
    height: 11vh;
    border-radius: 5px;
    justify-content: center;
    color: rgba(0,0,0,.6);
    margin-top: 6vh;
}

#jumbotron__link img {
    width: 7vw;
}

#jumbotron__link span {
    padding-top: 4vh;
    padding-left: 7vw;
    transform: scale(1.2,1.5);
}

@media only screen and (min-width: 568px){
    .container {
        width: 50%;
    }
    #navigation-button .strip {
        width: 5vw;
    }


    #jumbotron__link span {
        padding-top: 4vh;
        padding-left: 4vw;
        transform: scale(1.3,1.6);
    }
}

@media only screen and (min-width: 768px){
    .container {
        width: 80%;
    }
    
    #navigation-section {
        padding-top: 0;
        height: 8vh !important;
    }

    #navigation-section ul {
        display: flex;
        width: 70%;
        margin: auto;
        justify-content: space-between;
    }

    #navigation-section ul li a {
        font-size: 1.2rem;
    }

    #navigation-button {
        display: none;
    }

    #jumbotron {
        padding-top: 20vh;
    }

    #jumbotron__link span {
        padding-top: 4.5vh;
    }
}

@media only screen and (min-width: 1024px){
    #navigation-section {
        height: 10vh !important;
    }

    #navigation-section ul li a {
        font-size: 1.6rem;
    }

    #jumbotron__title {
        font-size: 4.5rem;
    }

    #jumbotron__note {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
}

@media only screen and (min-width: 1200px){
    #navigation-section ul li a {
        font-size: 1.8rem;
    }

    #jumbotron__title {
        font-size: 4.9rem;
    }

    #jumbotron__note {
        font-size: 2rem;
        line-height: 3rem;
    }

    #jumbotron__link {
        height: 13vh;
    }
    
    #jumbotron__link img {
        width: 5vw;
    }
    
    #jumbotron__link span {
        font-size: 1.7rem;
        padding-top: 4.2vh;
    }
}

